<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MY Website 20240140056</title>
</head>
<body>
<h2>Selamat datang di aplikasi!</h2>
<a href="/form">Input Data Mahasiswa</a> | <a href="/">Logout</a>

<h3>Data Mahasiswa</h3>
<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jenis Kelamin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="4">Belum ada data</td>
    </tr>
    <tr th:each="user, iterStat : ${users}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${user.nama}">Nama</td>
        <td th:text="${user.nim}">NIM</td>
        <td th:text="${user.jenisKelamin}">Jenis Kelamin</td>
    </tr>
    </tbody>
</table>
</body>
</html>